---
import { Icon } from "astro-icon/components"; /* not used but maybe they will be */
import { Image } from "astro:assets";
import { getEvents } from 'src/scripts/notion';
const events = await getEvents()
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
---
<section class=" bg-pblue border-1 border-black shadow-card group hover:shadow-hover transition rounded-xl m-5 p-5">
  <div class="grid row-start-1">
    <div class="flex gap-0 justify-start items-start">
      <h3 class="text-6xl underline">&hacks XI Itinerary</h3>
    </div>
  </div>
  <div class="grid row-start-2">
    <div class="flex md:flex-row flex-col justify-content items-end px-4 md:px-0 gap-10 md:gap-0">
      <div class="flex flex-col gap-0 justify-start items-start md:w-1/2 p-0px">
        <p class="text-3xl">Important Dates</p>
        <p class="text-6xl">September 26, 2025</p>
      </div>
      <div class="flex flex-col md:w-1/2 object-contain justify-start group gap-0 p-0px">
        <div class="flex flex-col items-start"><p class="text-2xl">Fun Events</p></div>
        <div class="flex flex-col items-end">
        <table class="table-auto border-solid border-black rounded-xl">
          <thead>
              <th>Date/Time</th>
              <th>Event</th>
              <th>Location</th>
              <th>URL</th>
          </thead>
          {events.map((event) => (
            <tr class="odd:bg-pgreen even:bg-pyellow">
              <td><p class="text-sm">{event.date.toDateString()}</p></td>
              <td><p class="text-sm">{event.name}</p></td>
              <td><p class="text-sm">{event.location}</p></td>
              <td><p class="text-sm"><a href={event.website}>{event.website}</a></p></td>
            </tr>
            ))
          }
        </table>
        <!-- TODO: this bloody thing won't right-align, for mysterious reasons -->
         <div class="flex flex-col p-5">
          <a
          href="/schedule"
          class="flex flex-col justify-end items-center content-center bg-pgreen px-5 py-3 border-1 border-black rounded-lg shadow-card hover:shadow-hover transition" 
          >
        View Full Schedule
        </a>
      </div>  
      </div>
    </div>
    </div>
    </div>
</section>